default_stages: ["commit", "push"]
repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=100"]
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
        args: ["--fix=lf"]
      # XXX enable when stable
      #- id: no-commit-to-branch
      #  args: ["--branch=master"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: ["cython"]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black

  - repo: https://github.com/flakeheaven/flakeheaven
    rev: 3.3.0
    hooks:
      - id: flakeheaven

  # Run mypy locally to reuse poetry dev environment
  - repo: local
    hooks:
      - id: mypy
        name: Run mypy
        language: system
        types: ["python"]
        entry: poetry run mypy
        require_serial: True
        files: src/
